<script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
<video id="video" controls ></video>
<script>
  var video = document.getElementById('video');
  var videoSrc = 'https://p-matter.work/assets/apex.m3u8'; //CDN: https://cdn.jsdelivr.net/gh/p-matter/p-matter/assets/apex.m3u8 || https://p-matter.work/assets/apex.m3u8
  if (Hls.isSupported()) { // ORIGINAL: 
    var hls = new Hls();
    hls.loadSource(videoSrc);
    hls.attachMedia(video);
  }
  else if (video.canPlayType('application/vnd.apple.mpegurl')) {
    video.src = videoSrc;
  }
</script>